@model IEnumerable<DataAPIValue>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Details</h2>
        </div>
        <div class="col-6 text-right">
            @*<partial name="_CreateButtonPartial" />*@
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.userId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.completed)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.userId)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.completed)
                        </td>

                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Data exists...</p>
        }
    </div>
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_DetailsAndBackToListButton" />
        </div>
    </div>
</div>

